body{
    text-align: center;
}
.heading{
    width:100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 2px ridge red;
}
#start,#status,#restart{
    font-size: 22px;
}
h4{
    background-color: white;
    line-height: 2px;
    margin: 0px;
}
.modal-dialog{
    width: 90%;
}
.instuction-img{
    display: inline-block;
    width:45%;
}
canvas{
    border: 3px 5px gold;
    border-radius: 20px;
    box-shadow: 5px 5px 5px orange;
}